.slider-container {
  position: relative;
  height: 85vh; 

}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
}

 .contact-btn {
    position: relative;      
    bottom:30% ;
    left: 50%;
    margin: 20px auto 0;    
    padding: 10px 20px;
    z-index: 100;
    translate: calc(-50%);
    transition: all 0.3s linear;
    animation: singleBounce  ease-in-out 3s infinite;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    color: #116530;
 }

@keyframes singleBounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px); 
  }  100% {
    transform: translateY(0); 
  }
}
 .contact-btn:hover {
    background-color: #116530;
    color:white;

}


 .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}


.slide.active {
  opacity: 1;
}
.slide.active {
  opacity: 1;
}
.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px; 
  bottom: 30px;
}

.carousel-indicators button {
  background: white;
  border: none;
  width: 30px;  
  cursor: pointer;
  opacity: 0.5;
  opacity: 0.7;   
  transition: opacity 0.3s, background-color 0.3s;
}

.carousel-indicators button:hover {
  opacity: 0.8;
}

.carousel-indicators button.active {
  background-color: #116530;
  opacity: 1;
}

.slide-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: auto;
  max-width: 700px;
  width: 100%; 
  color: white;
}

.slide-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
  background-color: none;
}

.slide-content p {
  font-size: 1.25rem;
  line-height: 1.6;
  text-align: left;
}




.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 38px;
  background: none;       
  border: none;          
  padding: 0;             
  cursor: pointer;
  color: white;          
  opacity: 0.7;
  z-index: 10;            
}

.arrow.left {
  left: 25px;
}

.arrow.right {
  right: 25px;
}

.arrow:hover {
  color: #ccc; 
  opacity: 20;
}




/* tablet */
@media (max-width: 768px) {
  .slider-container {
    height: 70vh;
  }

  .slide-content h1 {
    font-size: 1.8rem;
  }

  .slide-content p {
    font-size: 0.95rem;
  }

  .arrow {
    font-size: 28px;
  }
}

/* mobile */
@media (max-width: 576px) {
  .slider-container {
    height: 60vh;
    width: 100vw;
    
    
  }

  .slide-content {
    max-width: 90%;
    padding: 0 15px;
    text-align: center;
    align-items: center;
  }

  .slide-content h1 {
    font-size: 1.5rem;
  }

  .slide-content p {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .arrow {
    font-size: 24px;
    opacity: 0.8;
  }

  .arrow.left {
    left: 10px;
  }

  .arrow.right {
    right: 10px;
  }
}




