.contact-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact-info {
    flex: 0 0 350px;
    background: white;
    border-radius: 4px;
    padding: 2rem;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-info h3 {
    color: #2d465e ;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: left;
     font-weight: 600;
    font-size: 24px;
    font-family: "Marcellus",sans-serif;
}

.contact-info p.text-muted {
    color: #6c757d;
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    text-align: left;
}

.contact-item {
    margin-bottom: 1.8rem;
}

.contact-item>div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 0.5rem;
}

.contact-item .icon {
    font-size: 1.3rem;
    color: #1e4d2b;
    min-width: 22px;
}

.contact-item strong {
    color: #1e4d2b;
    font-weight: 600;
    margin-left: 0.5rem;

}

.contact-item p {
    color: #6c757d;
    font-size: 0.95rem;
    margin-left: 2.8rem;
    margin-bottom: 0;
    line-height: 1.3;
    margin-left: 27px;

}

.contact-form {
    flex: 1 1 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form .form-row {
    display: flex;
    gap: 1rem;
}

.contact-form .form-row>.col {
    flex: 1;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #ddd;
    font-size: 0.95rem;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
    color: #495057;
    resize: none;

}
.contact-form textarea{
    height: 321px;
}

.contact-form textarea {
    min-height: 180px;

}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #999;
    
}

.contact-form button {
    align-self: center;
    background-color: #1e4d2b;
    border: none;
    font-weight: 600;
    padding: 0.5rem 3rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #14501f;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info,
    .contact-form {
        flex: 1 1 100%;
        padding: 1.5rem;
    }
}