

.gototop{
height: 40px;
width: 40px;
background-color: #116530;
font-size: 30px;
color: white;
text-align: center;
border-radius: 3px;
position:fixed;
bottom: 0;
right: 20px;
bottom: 20px;
cursor:pointer;
z-index: 200;
}
.gototop:hover{
background-color: #053617;
}

